{% extends "base.html"%} {% block title %}Player View{% endblock %} {% block
content %}
<h1 class="header">Player View</h1>
<div class="container fluid">
  <div class="row">
    <div class="col">
      <div class="container fluid">
        <div class="container-player-stats">
          <div class="container-fluid">
            <img src="static/Icons/Fighter.png" alt="Player Icon" class="player-icon" />
            <h2 class="player-name">PlayerName</h2>
          </div>
          <div class="container text-center">
            <div class="row row-cols-3">
              <div class="col">
                <h3 class="statItem">Str</h3>
              </div>
              <div class="col">
                <h3 class="statItem">Dex</h3>
              </div>
              <div class="col">
                <h3 class="statItem">Con</h3>
              </div>
              <div class="col">
                <h3 class="statItem">Int</h3>
              </div>
              <div class="col">
                <h3 class="statItem">Wis</h3>
              </div>
              <div class="col">
                <h3 class="statItem">Cha</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <img src="static/Maps/DnD worldmap-1.png" alt="Map" class="map">
    </div>
    <div class="col">
      <div class="container-player-min" >
        <div class="container-fluid">
          <img src="static/Icons/Fighter.png" alt="Player Icon" class="player-icon" />
          <h2 class="player-name">PlayerName</h2>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
